<p id="notice"><%= notice %></p>

<p>
  <b>Traveler name:</b>
  <%= @departure.traveler_name %>
</p>

<p>
  <b>Time:</b>
  <%= @departure.time %>
</p>


<%= link_to 'Edit', edit_departure_path(@departure) %> |
<%= link_to 'Back', departures_path %>
