<div class="row">
  <h5><em>* note car groupings may change as more people submit their flight information</em></h5>
  <% @flight_dates.each do |date| %>
    <div class="span6">
      <h2><%= date.strftime("%b %d %Y") %></h2>
      <table class="table">
        <thead>
          <tr>
            <th>Traveler</th>
            <th>Flight</th>
            <th><%= flight_time_text(date) %></th>
          </tr>
        </thead>
        <% @cars.each do |car| %>
          <% if main_travel_date?(date) && (!car.shuttle || arrival_date?(date)) %>
            <tr>
              <td colspan="3"><div class="car-name"><%= car.name %></div></td>
            </tr>
          <% end %>
          <% car.flights_for_date(date).each do |flight| %>
            <tr>
              <td><%= flight.traveler_name %></td>
              <td><%= flight.airline %> <%= flight.flight_number %></td>
              <td><%= flight.flight_time.strftime("%l:%M%P") %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
